@font-face {
    font-family: 'Inter';
    src: url('Outfit-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #FDFBF7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* HEADER */

#header {
    background: #064E3B;
    color: white;
    text-align: center;
    padding: 20px;
    flex-shrink: 0;
}

#header p {
    font-size: 22px;
    font-weight: 700;
}

/* MAIN AREA */

#main-wrapper {
    width: 65%;
    margin: 25px auto;
    flex: 1;

    display: flex;
    flex-direction: column;

    min-height: 0;
}

/* CHAT CONTAINER */

#cont {
    flex: 1;

    border: 3px solid #064E3B;
    border-radius: 20px;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 25px;

    min-height: 0;

    scrollbar-gutter: stable;
}

/* MESSAGE LEFT */

.message-block {
    margin-bottom: 18px;
    max-width: 70%;
}

.message-block h6 {
    color: #064E3B;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.message-block p {
    color: #374151;
    font-size: 16px;
    word-wrap: break-word;
}

/* MESSAGE RIGHT */

.your-message-block {
    margin-bottom: 18px;
    margin-left: auto;

    max-width: 70%;
    text-align: right;
}

.your-message-block h6 {
    color: #10B981;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.your-message-block p {
    color: #374151;
    font-size: 16px;
    word-wrap: break-word;
}

/* INPUT BAR */

form {
    display: flex;
    margin-top: 15px;
    gap: 10px;
    flex-shrink: 0;
}

input[type="text"] {
    flex: 1;

    padding: 14px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;

    font-size: 16px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #10B981;
}

button {
    width: 140px;

    border: none;
    border-radius: 10px;

    background: #10B981;
    color: white;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
}

button:hover {
    background: #0da270;
}

/* SCROLLBAR */
#cont::-webkit-scrollbar {
    width: 8px;
}

#cont::-webkit-scrollbar-track {
    margin: 12px 0;
    background: transparent;
}

#cont::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.18);
    border-radius: 999px;
}