<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}">
    <title>SChat</title>
</head>
<body>

<div id="header">
    <p>{{groupname}}</p>
</div>

<div id="main-wrapper">

    <div id="cont">
    {% for msg in messages %}

    {% if msg[0] == username %}
    <div class="your-message-block">
        <h6>{{ msg[0] }}</h6>
        <h5 style="color: gray;font-size: 8px;margin-top: -6px;">{{ msg[2] }}</h5>
        <p>{{ msg[1] }}</p>

    </div>
    {% else %}
    <div class="message-block">
        <h6>{{ msg[0] }}</h6>
        <h5 style="color: gray;font-size: 8px;margin-top: -6px;">{{ msg[2] }}</h5>
        <p>{{ msg[4] }}</p>
    </div>
    {% endif %}

    {% endfor %}

    </div>

    <form action="/sendmessage" method="post">
        <input type="text" name="message" placeholder="Type a message...">
        <button type="submit">Send</button>
    </form>
</div>


</body>
</html>
