<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>SChat</title>
</head>
<body>
    <div id="cont">
<h1>Join The Chat</h1>
<form>
    <p>Group Name: <input type="text" name="groupname"></p>
    <p>Secret Password: <input type="text" name="pw"></p>
    <form action="/joinchat" method="post">
        <button type="submit">Join Chat</button>
    </form>
</form>
</div>
</body>
</html>