<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>SChat</title>
</head>
<body>
    <div id="cont">
<h1>Register Your Account</h1>
<form>
    <p>Name: <input type="text" name="username"></p>
    <p>Nickname: <input type="text" name="nickname"></p>
    <p>Password: <input type="text" name="pw"></p>
    <button type="submit">Sign Up</button>
</form>
</div>
</body>
</html>